name: Dependency Review

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/dependabot.yml'
      - '.github/workflows/dependency-review.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Dependency review
        uses: actions/dependency-review-action@v4
